<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Couple Name Photos | See what your relationship looks like as a bird!</title>
	<link href="https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400,401,500,501,700,701,900,901&display=swap"
		rel="stylesheet">
</head>

<script>
	window.onload = () => {

		// Listening to form submission
		const form = document.querySelector("#mainForm");
		form.addEventListener("submit", onSubmit, false)
	}

	const onSubmit = async (event) => {
		// Preventing the default action of forms, which would be sending a request and reloading
		event.preventDefault();

		const firstName = document.getElementById("first").value
		const secondName = document.getElementById("second").value

		// Validating the input
		if (firstName.length < 1 || secondName.length < 1)
			return

		// Sending a request to the backend
		const res = await fetch(`/api/v1/image?first=${firstName.charAt(0)}&second=${secondName.charAt(0)}`)
		const json = await res.json()

		// Setting the image metadata
		const image = document.getElementById("result")
		image.setAttribute("src", json.url);
		image.setAttribute("height", json.width);
		image.setAttribute("width", json.height);
		image.setAttribute("alt", json.alt);

		const attribution = document.getElementById("resultAttribution")
		attribution.classList.remove("hidden")
		const photographer = document.getElementById("photographer")
		photographer.setAttribute("href", `https://unsplash.com/@${json.username}?utm_source=relationship-names&utm_medium=referral`)
		photographer.innerHTML = json.photographer
	}
</script>

<style>
	#root {
		padding: 0px 12px;
		max-width: 512px;
		margin: auto;
		font-family: 'Satoshi', sans-serif;
	}

	#result {
		max-width: 100%;
		display: block;
		width: auto;
		height: auto;
	}

	.text {
		text-align: justify;
	}

	.unsplash {
		color: gray;
	}

	.hidden {
		display: none;
	}

	#mainForm {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.button {
		padding: 8px;
	}
</style>

<body>
	<main id="root">
		<div id="markup">
			<h1>Finde das Bild für deine Beziehung!</h1>
			<p class="text">Trage den Namen deines Partners und dir in die Eingabefelder ein, und finde heraus, welcher
				Vogel, welche
				Blume, oder welches Tier zu eurer Beziehung gehört.</p>
			<p class="text">Ob es der majestätische Adler, die zarte Rose oder der treue Wolf ist - jedes Symbol erzählt
				eure ganz
				besondere Liebesgeschichte. Bist du bereit, das Bild eurer Liebe zu finden?</p>
		</div>

		<form id="mainForm">
			<div>
				<label for="first">
					Dein Name
				</label>
				<input id="first" name="first" placeholder="Niclas" />
			</div>

			<div>
				<label for="second">
					Name deines Partners
				</label>
				<input id="second" name="second" placeholder="Lana" />
			</div>

			<div>
				<button class="button">Euer Bild finden</button>
			</div>
		</form>

		<div>
			<p class="text unsplash">Die Bilder, die auf dieser Website gezeigt werden, sind von Unsplash bereitgestellt
				wurden.
			</p>
		</div>

		<div id="resultWrapper">
			<img id="result" />
			<div id="resultAttribution" class="hidden">
				Foto von <a id="photographer"></a> auf <a
					href="https://unsplash.com/?utm_source=relationship-names&utm_medium=referral">Unsplash</a>
			</div>
		</div>
	</main>
</body>

</html>